.git
.gitignore
.vscode
.idea

.venv/
venv/
env/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

.env
**/.env

initial_data_ingestion/
data_pipeline_research/

server/downloads/
downloads/
*.sqlite
*.db

.DS_Store
